<footer role="contentinfo" id="site-footer">
  <nav role="navigation" class="menu bottom-menu">
    <ul class="menu-item">
      {% for link in site.data.footer %}
      {% if link.url contains 'http' %}
      {% assign domain = '' %}
      {% else %}
      {% assign domain = site.url %}
      {% endif %}
      <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
      {% endfor %}
    </ul>
  </nav><!-- /.bottom-menu -->

  <!-- Copyright and social media -->
  <center>
      <span class="copyright">&#169; {{ site.time | date: '%Y' }} <a href="{{ site.url }}">{{ site.title }}</a></span>
      <p class="copyright">
	New Haven, CT
      </p>
      <!-- <ul class="list-inline social-buttons"> -->
	{% if site.social.facebook_username %}
	<div class="inline-btn">
	  <a class="btn-social facebook" href="https://www.facebook.com/{{ site.social.facebook_username }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> View Facebook Page</a>
	</div><!-- /.share-this -->
	<!-- <a href="https://www.facebook.com/{{ site.social.facebook_username }}" class="btn-inverse"> <i class="fa fa-facebook fa-2x"></i></a>  -->
	{% endif %}
      <!-- </ul> -->
  </center>	  
</footer>
